Repository naturalsolutions/ecoSecrets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_development, build_api_production, build_frontend_development, test_api, deploy_api, deploy_frontend

build_api_development:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:api-dev ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-dev
  tags:
  - NSCICDDOCKER

build_api_production:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:api-latest ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-latest
  tags:
  - NSCICDDOCKER

build_frontend_development:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:frontend-dev ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-dev
  tags:
  - NSCICDDOCKER

test_api:
  stage: test
  script:
  - ./scripts/test-ci.sh
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: ./api/coverage.xml
  tags:
  - NSCICDSHELL

deploy_api:
  stage: deploy
  image:
    name: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

deploy_frontend:
  stage: deploy
  image: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

ci: simplify deploy
  .gitlab-ci.yml
Due: deploy_api, deploy_frontend

feat(api): add alembic
  api/Pipfile
  api/Pipfile.lock
  api/alembic.ini
  api/alembic/README.md
  api/alembic/env.py
  api/alembic/script.py.mako
  api/alembic/versions/4cf2ba8715d2_sequence_deployments_projects.py
  api/alembic/versions/58e367bdda57_init.py
  api/entrypoint.sh
  api/src/connectors/database.py
  api/src/main.py
  docker/docker-compose.override.yml
  docker/docker-compose.prod.yml
Due: build_api_development, build_api_production, test_api, deploy_api

Resolve "Optimiser la CI de tests backend"
  scripts/test-ci.sh
Due: none

ci: add pages to build doc
  .gitlab-ci.yml
Due: deploy_api, deploy_frontend

Resolve "Revoir la gestion de la config pour centraliser"
  api/Pipfile
  api/Pipfile.lock
  api/alembic/env.py
  api/src/config.py
  api/src/connectors/database.py
  api/src/connectors/s3.py
  api/src/main.py
  api/tests/utils/test_db.py
Due: build_api_development, build_api_production, test_api, deploy_api

Resolve "Bump FastAPI to 0.87.0"
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
Due: build_api_development, build_api_production, test_api, deploy_api

Fix/device menu
  README.md
  api/src/services/device.py
  docs/docs/index.md
  docs/docs/user/home.md
  docs/mkdocs.yml
  frontend/src/components/deploymentForm.tsx
  frontend/src/components/imageList.tsx
  frontend/src/components/masonry.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_api_development, build_api_production, build_frontend_development, test_api, deploy_api, deploy_frontend

Fix bugs in project and deployment page
  frontend/public/index.html
  frontend/src/components/HeadBar.tsx
  frontend/src/components/annotationImageDisplay.tsx
  frontend/src/components/annotationMainComponent.tsx
  frontend/src/components/annotationObservationForm.tsx
  frontend/src/components/breadcrumbElement.tsx
  frontend/src/components/common/collapsableButton.tsx
  frontend/src/components/deploymentDetails.tsx
  frontend/src/components/deploymentForm.tsx
  frontend/src/components/deploymentList.tsx
  frontend/src/components/deviceSheet/deviceForm.tsx
  frontend/src/components/navigationPath.tsx
  frontend/src/components/projectSheet/projectDeployments.tsx
  frontend/src/components/projectSheet/projectForm.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
  frontend/src/components/siteMenu/siteModale.tsx
  frontend/src/components/siteMenu/siteTable.tsx
  frontend/src/components/siteSheet/siteForm.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, deploy_frontend

feat : add maps
  api/src/models/deployment.py
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/components/HeadBar.tsx
  frontend/src/components/Map.tsx
  frontend/src/components/deploymentForm.tsx
  frontend/src/components/deviceMenu/deviceMenuMain.tsx
  frontend/src/components/deviceMenu/devicesTable.tsx
  frontend/src/components/dropzoneComponent.tsx
  frontend/src/components/modalError.tsx
  frontend/src/components/navigationPath.tsx
  frontend/src/components/projectCard.tsx
  frontend/src/components/projectList.tsx
  frontend/src/components/projectSheet/projectDeployments.tsx
  frontend/src/components/projectSheet/projectForm.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
  frontend/src/components/siteMenu/siteModale.tsx
  frontend/src/components/siteMenu/siteTable.tsx
  frontend/src/components/siteSheet/siteForm.tsx
  frontend/src/components/statsHome.tsx
  frontend/src/contexts/mainContext.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
  frontend/tsconfig.json
  scripts/docker.sh
Due: build_api_development, build_api_production, build_frontend_development, test_api, deploy_api, deploy_frontend

Resolve "Fix les changements de la dernière merge request"
  frontend/tsconfig.json
  scripts/docker.sh
Due: build_frontend_development, deploy_frontend

Resolve "Améliorer l'image docker du frontend"
  docker/docker-compose.override.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package.json
Due: build_frontend_development, deploy_frontend

Resolve "Build production frontend image in gitlab-ci"
  .gitlab-ci.yml
  docker/docker-compose.override.yml
  docker/docker-compose.yml
Due: deploy_api, deploy_frontend

Resolve "Deploy all when gitlab-ci variable is set"
  .gitlab-ci.yml
Due: deploy_api, deploy_frontend

ci: change deploy tag
  .gitlab-ci.yml
Due: deploy_api, deploy_frontend

fix(front): default to /api/v1
  frontend/src/App.tsx
Due: build_frontend_development, deploy_frontend

feat: Add LICENSE
  LICENSE
Due: none

Resolve "Supprimer les "jean-paul-bucket" en dur dans le code"
  api/src/connectors/database.py
  api/src/routers/files.py
  api/src/services/files.py
  api/tests/fixtures/file.py
  api/tests/test_connectors/test_s3.py
  docker/.env
  docker/docker-compose.override.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
Due: build_api_development, build_api_production, test_api, deploy_api

Resolve "fix(env) .env.sample instead of .env and gitignore .env"
  .gitignore
  docker/.env.sample
  scripts/test-ci.sh
Due: none

Resolve "Add more info to the README"
  README.md
Due: none

fix: correct height display
  frontend/src/components/deploymentForm.tsx
Due: build_frontend_development, deploy_frontend

chore: cleanup unused imports
  frontend/src/components/deploymentForm.tsx
Due: build_frontend_development, deploy_frontend

fix: display and save values for mode
  frontend/src/components/deploymentForm.tsx
Due: build_frontend_development, deploy_frontend

chore: remove console.log
  frontend/src/components/deploymentForm.tsx
Due: build_frontend_development, deploy_frontend

build: add github action
  .github/workflows/test.yml
Due: none

build: wip: use -T not to allocate pseudo-tty
  scripts/test-ci.sh
Due: none

build: wip: pin black version
  .github/workflows/test.yml
Due: none

build: wip test to add isort
  .github/workflows/test.yml
Due: none

build: wip: add sortPaths
  .github/workflows/test.yml
Due: none

fix: add components for buttons
  frontend/src/components/annotationButtons.tsx
  frontend/src/components/annotationMainComponent.tsx
  frontend/src/components/annotationSaveError.tsx
  frontend/src/components/common/buttonCancel.tsx
  frontend/src/components/common/buttonDisplay.tsx
  frontend/src/components/common/buttonInteract.tsx
  frontend/src/components/common/buttonModify.tsx
  frontend/src/components/common/buttonValidate.tsx
  frontend/src/components/common/dialogSaveOrQuit.tsx
  frontend/src/components/deploymentForm.tsx
  frontend/src/components/deviceMenu/deviceModal.tsx
  frontend/src/components/deviceMenu/devicesTable.tsx
  frontend/src/components/deviceSheet/deviceData.tsx
  frontend/src/components/deviceSheet/deviceForm.tsx
  frontend/src/components/goAnnotation.tsx
  frontend/src/components/imageList.tsx
  frontend/src/components/importForm.tsx
  frontend/src/components/importModale.tsx
  frontend/src/components/modalError.tsx
  frontend/src/components/projectModale.tsx
  frontend/src/components/projectSheet/projectDeploymentsDeleteModale.tsx
  frontend/src/components/projectSheet/projectForm.tsx
  frontend/src/components/projectSheet/projectInformations.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
  frontend/src/components/siteMenu/siteModale.tsx
  frontend/src/components/siteMenu/siteTable.tsx
  frontend/src/components/siteSheet/siteForm.tsx
Due: build_frontend_development, deploy_frontend

fix: add yes/no buttons component
  frontend/src/components/common/buttonCancel.tsx
  frontend/src/components/common/buttonsYesNo.tsx
  frontend/src/components/common/dialogSaveOrQuit.tsx
  frontend/src/components/common/dialogYesNo.tsx
  frontend/src/components/deviceMenu/devicesTable.tsx
  frontend/src/components/deviceSheet/deviceForm.tsx
  frontend/src/components/imageList.tsx
  frontend/src/components/projectSheet/projectDeploymentsDeleteModale.tsx
Due: build_frontend_development, deploy_frontend

fix: correct button disabling behavior
  frontend/src/components/deploymentForm.tsx
Due: build_frontend_development, deploy_frontend

fix: change default cancel button style
  frontend/src/components/common/buttonCancel.tsx
Due: build_frontend_development, deploy_frontend

fix: add grid for new deployment display
  frontend/src/components/projectSheet/projectSheetMain.tsx
Due: build_frontend_development, deploy_frontend

feat: model and service for new deployment
  api/src/models/deployment.py
  api/src/routers/deployments.py
  api/src/services/deployment.py
  frontend/src/client/index.ts
  frontend/src/client/models/NewDeploymentWithTemplateSequence.ts
  frontend/src/client/services/DeploymentsService.ts
Due: build_api_development, build_api_production, build_frontend_development, test_api, deploy_api, deploy_frontend

style(api): apply black
  api/src/models/deployment.py
  api/src/routers/deployments.py
  api/src/services/deployment.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: behavior of setting mode
  frontend/src/components/deploymentForm.tsx
Due: build_frontend_development, deploy_frontend

fix(front): remove hardcoded values of users
  frontend/src/components/projectModale.tsx
Due: build_frontend_development, deploy_frontend

build: prevent mounting node_modules volume
  docker/docker-compose.override.yml
Due: none

Path conditions:
  build_api_development: any of: api/**/*
  build_api_production: any of: api/**/*
  build_frontend_development: any of: frontend/**/*
  test_api: any of: api/**/*
  deploy_api: any of: api/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*, .gitlab-ci.yml
