Repository naturalsolutions/ecoSecrets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_development, build_api_production, build_frontend_development, test_api, deploy_api, deploy_frontend

build_api_development:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:api-dev ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-dev
  tags:
  - NSCICDDOCKER

build_api_production:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:api-latest ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-latest
  tags:
  - NSCICDDOCKER

build_frontend_development:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:frontend-dev ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-dev
  tags:
  - NSCICDDOCKER

test_api:
  stage: test
  script:
  - ./scripts/test-ci.sh
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: ./api/coverage.xml
  tags:
  - NSCICDSHELL

deploy_api:
  stage: deploy
  image:
    name: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

deploy_frontend:
  stage: deploy
  image: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

fix: style
  api/tests/fixtures/deployment.py
Due: build_api_development, build_api_production, test_api, deploy_api

feat: ajout du tableau historique des déploiements côté frontend
  frontend/src/client/index.ts
  frontend/src/client/models/DeploymentForDeviceSheet.ts
  frontend/src/components/deviceSheet/deviceSheetMain.tsx
Due: build_frontend_development, deploy_frontend

feat: add access to user doc
  frontend/src/components/HeadBar.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, deploy_frontend

feat: add access to user doc (#27)
  frontend/src/components/HeadBar.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, deploy_frontend

Adding prettier, splitting formatting into different workflows
  .github/workflows/format_api.yml
  .github/workflows/format_frontend.yml
Due: none

Replacing Test and Build API with separate actions
  .github/workflows/documentation.yml
  .github/workflows/format_api.yml
  .github/workflows/test_and_build.yml
  .github/workflows/test_api.yml
Due: none

Finishing optimisation and dependency order of GitHub Actions
  .github/workflows/build_api.yml
  .github/workflows/build_frontend.yml
  .github/workflows/test_api.yml
Due: none

Adding wildcards to paths
  .github/workflows/documentation.yml
  .github/workflows/format_api.yml
  .github/workflows/format_frontend.yml
Due: none

ci: try changing path to prettier
  .github/workflows/format_frontend.yml
Due: none

ci: add action checkout
  .github/workflows/format_frontend.yml
Due: none

ci: put back the old path
  .github/workflows/format_frontend.yml
Due: none

Ignoring prettier check for now
  .github/workflows/format_frontend.yml
Due: none

Optimise GitHub actions (#29)
  .github/workflows/build_api.yml
  .github/workflows/build_frontend.yml
  .github/workflows/documentation.yml
  .github/workflows/format_api.yml
  .github/workflows/format_frontend.yml
  .github/workflows/test_and_build.yml
  .github/workflows/test_api.yml
Due: none

feat(build): add necessary for keycloak
  docker/docker-compose.yml
  docker/keycloak/realm.json
Due: none

feat(front): add logout button to headbar
  frontend/src/components/HeadBar.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, deploy_frontend

chore(frontend): remove console.log
  frontend/src/keycloak.ts
Due: build_frontend_development, deploy_frontend

fix(front): set OpenAPI token when authenticated
  frontend/src/contexts/AuthContextProvider.tsx
Due: build_frontend_development, deploy_frontend

fix(env): missing variable
  docker/.env.sample
Due: none

feat(api): add keycloak env vars
  api/src/config.py
  api/src/main.py
  docker/.env.sample
  docker/docker-compose.yml
Due: build_api_development, build_api_production, test_api, deploy_api

test: add headers for admin to all tests
  api/tests/conftest.py
  api/tests/fixtures/keycloak.py
  api/tests/test_routers/test_deployments.py
  api/tests/test_routers/test_devices.py
  api/tests/test_routers/test_files.py
  api/tests/test_routers/test_home.py
  api/tests/test_routers/test_projects.py
  api/tests/test_routers/test_sites.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix(front): following rebase
  frontend/src/components/HeadBar.tsx
Due: build_frontend_development, deploy_frontend

feat(front): add keycloakjs & update package-lock
  frontend/package-lock.json
  frontend/package.json
Due: build_frontend_development, deploy_frontend

build: add build ARGS for process.env
  docker/docker-compose.yml
  frontend/Dockerfile
Due: build_frontend_development, deploy_frontend

fix(api): following rebase
  api/src/main.py
Due: build_api_development, build_api_production, test_api, deploy_api

feat(front): add keycloak via custom provider
  frontend/src/App.tsx
  frontend/src/contexts/AuthContextProvider.tsx
  frontend/src/index.tsx
  frontend/src/keycloak.ts
Due: build_frontend_development, deploy_frontend

feat(front): set OpenAPI Token in provider
  frontend/src/contexts/AuthContextProvider.tsx
Due: build_frontend_development, deploy_frontend

style: applied black
  api/src/main.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix(front): following rebase
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, deploy_frontend

chore(frontend): remove useless console.log
  frontend/src/contexts/AuthContextProvider.tsx
Due: build_frontend_development, deploy_frontend

build: update .env file
  docker/.env.sample
Due: none

feat: wip keycloak 21.1.0 working
  docker/.env.sample
  docker/docker-compose.override.yml
  docker/docker-compose.yml
  docker/keycloak/realm.json
  keycloak/Dockerfile
  keycloak/realm.json
Due: none

feat(api): wip: keycloak api side
  api/Pipfile
  api/Pipfile.lock
  api/src/config.py
  api/src/keycloak/__init__.py
  api/src/keycloak/base.py
  api/src/keycloak/deps.py
  api/src/keycloak/idp.py
  api/src/keycloak/models.py
Due: build_api_development, build_api_production, test_api, deploy_api

feat(keycloak): add env variables
  keycloak/realm.json
Due: none

style(api): applied isort
  api/src/main.py
Due: build_api_development, build_api_production, test_api, deploy_api

docs: update README add authentication
  README.md
Due: none

docs: add badge to README
  README.md
Due: none

chore: remove useless space
  README.md
Due: none

Feat/keycloak (#17)
  README.md
  api/Pipfile
  api/Pipfile.lock
  api/src/config.py
  api/src/keycloak/__init__.py
  api/src/keycloak/base.py
  api/src/keycloak/deps.py
  api/src/keycloak/idp.py
  api/src/keycloak/models.py
  api/src/main.py
  api/tests/conftest.py
  api/tests/fixtures/keycloak.py
  api/tests/test_routers/test_deployments.py
  api/tests/test_routers/test_devices.py
  api/tests/test_routers/test_files.py
  api/tests/test_routers/test_home.py
  api/tests/test_routers/test_projects.py
  api/tests/test_routers/test_sites.py
  docker/.env.sample
  docker/docker-compose.override.yml
  docker/docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/HeadBar.tsx
  frontend/src/contexts/AuthContextProvider.tsx
  frontend/src/index.tsx
  frontend/src/keycloak.ts
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
  keycloak/Dockerfile
  keycloak/realm.json
Due: build_api_development, build_api_production, build_frontend_development, test_api, deploy_api, deploy_frontend

chore(api): remove useless admin route
  api/src/internal/__init__.py
  api/src/internal/admin.py
  api/src/main.py
Due: build_api_development, build_api_production, test_api, deploy_api

chore(api): remove useless route /
  api/src/main.py
Due: build_api_development, build_api_production, test_api, deploy_api

Path conditions:
  build_api_development: any of: api/**/*
  build_api_production: any of: api/**/*
  build_frontend_development: any of: frontend/**/*
  test_api: any of: api/**/*
  deploy_api: any of: api/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*, .gitlab-ci.yml
