Repository naturalsolutions/ecoSecrets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_development, build_api_production, build_frontend_development, test_api, deploy_api, deploy_frontend

build_api_development:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:api-dev ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-dev
  tags:
  - NSCICDDOCKER

build_api_production:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:api-latest ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-latest
  tags:
  - NSCICDDOCKER

build_frontend_development:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:frontend-dev ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-dev
  tags:
  - NSCICDDOCKER

test_api:
  stage: test
  script:
  - ./scripts/test-ci.sh
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: ./api/coverage.xml
  tags:
  - NSCICDSHELL

deploy_api:
  stage: deploy
  image:
    name: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

deploy_frontend:
  stage: deploy
  image: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

fix(annotation): clean temp data for next image
  frontend/src/components/annotationMainComponent.tsx
Due: build_frontend_development, deploy_frontend

fix(annotation): resolve some warnings
  frontend/src/components/annotationMainComponent.tsx
  frontend/src/components/annotationObservationForm.tsx
  frontend/src/components/common/buttonStatus.tsx
Due: build_frontend_development, deploy_frontend

test(deployment): update test for deploy creation
  api/tests/fixtures/deployment.py
  api/tests/test_routers/test_deployments.py
Due: build_api_development, build_api_production, test_api, deploy_api

First attempt at code formatting
  .github/workflows/format.yml
Due: none

Test doc workflow
  .github/workflows/docs.yml
Due: none

V2 Docs Deploy
  .github/workflows/documentation.yml
Due: none

GitHub Action to build and deploy documentation
  .github/workflows/documentation.yml
Due: none

Change to isort
  .github/workflows/format.yml
Due: none

Converting to native 'black' formatting action
  .github/workflows/documentation.yml
  .github/workflows/format.yml
Due: none

GitHub action to check formatting of commits
  .github/workflows/format.yml
Due: none

First attempt at docker build
  .github/workflows/build.yml
Due: none

Added attempt at pushing image
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

Added frontend build
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

GitHub Action to build docker images
  .github/workflows/build.yml
Due: none

Attempting to add test steps
  .github/workflows/documentation.yml
  .github/workflows/format.yml
  .github/workflows/test_and_build.yml
  scripts/test-ci.sh
Due: none

fix: client regeneration
  frontend/src/client/core/request.ts
  frontend/src/client/models/Snack.ts
Due: build_frontend_development, deploy_frontend

fix: reorder package json
  frontend/package-lock.json
Due: build_frontend_development, deploy_frontend

fix: move snack in common component
  frontend/src/components/common/snack.tsx
Due: build_frontend_development, deploy_frontend

fix: update snack imports
  frontend/src/components/projectModale.tsx
  frontend/src/contexts/snackContext.tsx
Due: build_frontend_development, deploy_frontend

GitHub Actions (test/build/documentation/code style) (#19)
  .github/workflows/documentation.yml
  .github/workflows/format.yml
  .github/workflows/test_and_build.yml
  scripts/test-ci.sh
Due: none

Added licence and basic contributing guidelines
  README.md
Due: none

Added licence and basic contributing guidelines (#23)
  README.md
Due: none

Correcting style to comply with python black
  api/src/connectors/s3.py
  api/src/models/annotation.py
  api/src/models/deployment.py
  api/src/models/file.py
  api/src/models/models.py
  api/src/models/project.py
  api/src/routers/files.py
  api/src/services/files.py
  api/tests/test_routers/test_files.py
Due: build_api_development, build_api_production, test_api, deploy_api

feat: media import with mime type check
  api/src/routers/files.py
  api/src/utils.py
Due: build_api_development, build_api_production, test_api, deploy_api

build: use of python-magic library
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
Due: build_api_development, build_api_production, test_api, deploy_api

fix: mutualization of repeated code
  api/src/routers/files.py
  api/src/services/files.py
  api/src/utils.py
Due: build_api_development, build_api_production, test_api, deploy_api

feat: display of video thumbnails
  frontend/src/components/masonry.tsx
Due: build_frontend_development, deploy_frontend

fix: rename gallery component
  frontend/src/components/imageList.tsx
  frontend/src/components/mediaGallery.tsx
Due: build_frontend_development, deploy_frontend

feat: display and navigation in annotation page
  frontend/src/components/annotationImageDisplay.tsx
Due: build_frontend_development, deploy_frontend

Require tests on pull request
  .github/workflows/test_and_build.yml
Due: none

Aded Prettier GitHub action
  .github/workflows/format.yml
Due: none

fix(front): remove hardcoded values of users (#9)
  frontend/src/components/projectModale.tsx
Due: build_frontend_development, deploy_frontend

build: prevent mounting node_modules volume (#10)
  docker/docker-compose.override.yml
Due: none

Fix/homogenize buttons (#5)
  frontend/src/components/annotationButtons.tsx
  frontend/src/components/annotationMainComponent.tsx
  frontend/src/components/annotationSaveError.tsx
  frontend/src/components/common/buttonCancel.tsx
  frontend/src/components/common/buttonDisplay.tsx
  frontend/src/components/common/buttonInteract.tsx
  frontend/src/components/common/buttonModify.tsx
  frontend/src/components/common/buttonValidate.tsx
  frontend/src/components/common/buttonsYesNo.tsx
  frontend/src/components/common/dialogSaveOrQuit.tsx
  frontend/src/components/common/dialogYesNo.tsx
  frontend/src/components/deploymentForm.tsx
  frontend/src/components/deviceMenu/deviceModal.tsx
  frontend/src/components/deviceMenu/devicesTable.tsx
  frontend/src/components/deviceSheet/deviceData.tsx
  frontend/src/components/deviceSheet/deviceForm.tsx
  frontend/src/components/goAnnotation.tsx
  frontend/src/components/imageList.tsx
  frontend/src/components/importForm.tsx
  frontend/src/components/importModale.tsx
  frontend/src/components/modalError.tsx
  frontend/src/components/projectModale.tsx
  frontend/src/components/projectSheet/projectDeploymentsDeleteModale.tsx
  frontend/src/components/projectSheet/projectForm.tsx
  frontend/src/components/projectSheet/projectInformations.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
  frontend/src/components/siteMenu/siteModale.tsx
  frontend/src/components/siteMenu/siteTable.tsx
  frontend/src/components/siteSheet/siteForm.tsx
Due: build_frontend_development, deploy_frontend

Fix/deployment form (#7)
  api/src/models/deployment.py
  api/src/routers/deployments.py
  api/src/services/deployment.py
  frontend/src/client/index.ts
  frontend/src/client/models/NewDeploymentWithTemplateSequence.ts
  frontend/src/client/services/DeploymentsService.ts
  frontend/src/components/deploymentForm.tsx
Due: build_api_development, build_api_production, build_frontend_development, test_api, deploy_api, deploy_frontend

Fix/annotation after navigation (#13)
  frontend/src/components/annotationMainComponent.tsx
  frontend/src/components/annotationObservationForm.tsx
  frontend/src/components/common/buttonStatus.tsx
Due: build_frontend_development, deploy_frontend

Fix/snack component (#22)
  frontend/package-lock.json
  frontend/src/client/core/request.ts
  frontend/src/components/common/snack.tsx
  frontend/src/components/projectModale.tsx
  frontend/src/contexts/snackContext.tsx
Due: build_frontend_development, deploy_frontend

fix: type used in deployment form
  frontend/src/components/deploymentForm.tsx
Due: build_frontend_development, deploy_frontend

fix: type used in deployment form (#28)
  frontend/src/components/deploymentForm.tsx
Due: build_frontend_development, deploy_frontend

Path conditions:
  build_api_development: any of: api/**/*
  build_api_production: any of: api/**/*
  build_frontend_development: any of: frontend/**/*
  test_api: any of: api/**/*
  deploy_api: any of: api/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*, .gitlab-ci.yml
