Repository naturalsolutions/ecoSecrets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_development, build_api_production, build_frontend_development, test_api, deploy_api, deploy_frontend

build_api_development:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:api-dev ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-dev
  tags:
  - NSCICDDOCKER

build_api_production:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:api-latest ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-latest
  tags:
  - NSCICDDOCKER

build_frontend_development:
  stage: build
  script:
  - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
  - docker build -t ${CI_REGISTRY_IMAGE}:frontend-dev ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-dev
  tags:
  - NSCICDDOCKER

test_api:
  stage: test
  script:
  - ./scripts/test-ci.sh
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: ./api/coverage.xml
  tags:
  - NSCICDSHELL

deploy_api:
  stage: deploy
  image:
    name: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

deploy_frontend:
  stage: deploy
  image: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

chore(api): remove useless admin route (#33)
  api/src/internal/__init__.py
  api/src/internal/admin.py
  api/src/main.py
Due: build_api_development, build_api_production, test_api, deploy_api

docs: add badge to README (#36)
  README.md
Due: none

fix(db): include only local tables
  api/alembic/env.py
Due: build_api_development, build_api_production, test_api, deploy_api

Resolve "CI/CD: change Docker login command"
  .gitlab-ci.yml
Due: deploy_api, deploy_frontend

style: wip: add keycloak theme
  docker/docker-compose.override.yml
  keycloak/theme/geocam/login/login.ftl
  keycloak/theme/geocam/login/resources/css/styles.css
  keycloak/theme/geocam/login/resources/img/logo.png
  keycloak/theme/geocam/login/template.ftl
  keycloak/theme/geocam/login/theme.properties
Due: none

style: rename folder to customtheme
  keycloak/Dockerfile
  keycloak/theme/customtheme/login/login.ftl
  keycloak/theme/customtheme/login/resources/css/styles.css
  keycloak/theme/customtheme/login/resources/img/logo.png
  keycloak/theme/customtheme/login/template.ftl
  keycloak/theme/customtheme/login/theme.properties
Due: none

style(keycloak): theme in dockerfile & i18n realm
  keycloak/Dockerfile
  keycloak/realm.json
Due: none

fix(keycloak): add default locale
  keycloak/realm.json
Due: none

feat(annotation): prevent video autoplay
  frontend/src/components/annotationImageDisplay.tsx
Due: build_frontend_development, deploy_frontend

style: formatting
  frontend/src/components/annotationImageDisplay.tsx
Due: build_frontend_development, deploy_frontend

feat: display photo/video icon and name in gallery
  frontend/src/components/mediaGallery.tsx
Due: build_frontend_development, deploy_frontend

style: reorder import
  api/src/routers/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

test: add test_check_mime
  api/tests/test_utils.py
Due: build_api_development, build_api_production, test_api, deploy_api

ci: update path to mounted volume
  docker/docker-compose.override.yml
Due: none

style: lower logo size
  keycloak/theme/customtheme/login/resources/img/logo.png
Due: none

style: add background image & more css
  keycloak/theme/customtheme/login/resources/css/styles.css
  keycloak/theme/customtheme/login/resources/img/background.png
Due: none

Style/keycloak theme (#38)
  docker/docker-compose.override.yml
  keycloak/Dockerfile
  keycloak/realm.json
  keycloak/theme/customtheme/login/login.ftl
  keycloak/theme/customtheme/login/resources/css/styles.css
  keycloak/theme/customtheme/login/resources/img/background.png
  keycloak/theme/customtheme/login/resources/img/logo.png
  keycloak/theme/customtheme/login/template.ftl
  keycloak/theme/customtheme/login/theme.properties
Due: none

feat: display thumbnail icon and name
  frontend/src/components/mediaGallery.tsx
Due: build_frontend_development, deploy_frontend

style: thumbnail display formatting
  frontend/src/components/GalleryItem.tsx
  frontend/src/components/mediaGallery.tsx
Due: build_frontend_development, deploy_frontend

style: update deployment form display
  frontend/src/components/deploymentForm.tsx
  frontend/src/components/dropzoneComponent.tsx
Due: build_frontend_development, deploy_frontend

fix(db): include only local tables (#37)
  api/alembic/env.py
Due: build_api_development, build_api_production, test_api, deploy_api

feat: add logo geocam to headerbar
  frontend/public/assets/geocam-logo-dark.png
  frontend/public/assets/geocam-logo-icon.png
  frontend/public/assets/geocam-logo-light.png
  frontend/public/assets/geocam-logo.svg
  frontend/src/components/HeadBar.tsx
Due: build_frontend_development, deploy_frontend

feat: add logo geocam to headerbar (#39)
  frontend/public/assets/geocam-logo-dark.png
  frontend/public/assets/geocam-logo-icon.png
  frontend/public/assets/geocam-logo-light.png
  frontend/public/assets/geocam-logo.svg
  frontend/src/components/HeadBar.tsx
Due: build_frontend_development, deploy_frontend

feat: change select to textfield when field not link to standard
  frontend/src/components/deploymentForm.tsx
Due: build_frontend_development, deploy_frontend

fix: display save/cancel for image dropzone button
  frontend/src/components/common/buttonsYesNo.tsx
  frontend/src/components/imageList.tsx
Due: build_frontend_development, deploy_frontend

test: modify check mime test
  api/tests/test_utils.py
Due: build_api_development, build_api_production, test_api, deploy_api

test: modify lists by sets to test data unicity
  api/tests/test_utils.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: display save/cancel for image dropzone button (#41)
  frontend/src/components/common/buttonsYesNo.tsx
  frontend/src/components/imageList.tsx
Due: build_frontend_development, deploy_frontend

style(api): apply black
  api/src/utils.py
Due: build_api_development, build_api_production, test_api, deploy_api

Feat/manage video media (#24)
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
  api/src/routers/files.py
  api/src/services/files.py
  api/src/utils.py
  api/tests/test_utils.py
  frontend/src/components/GalleryItem.tsx
  frontend/src/components/annotationImageDisplay.tsx
  frontend/src/components/imageList.tsx
  frontend/src/components/masonry.tsx
  frontend/src/components/mediaGallery.tsx
Due: build_api_development, build_api_production, build_frontend_development, test_api, deploy_api, deploy_frontend

feat: github merge with medias
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
  api/alembic/env.py
  api/src/routers/files.py
  api/src/services/files.py
  api/src/utils.py
  api/tests/test_utils.py
  frontend/public/assets/geocam-logo-dark.png
  frontend/public/assets/geocam-logo-icon.png
  frontend/public/assets/geocam-logo-light.png
  frontend/public/assets/geocam-logo.svg
  frontend/src/components/GalleryItem.tsx
  frontend/src/components/HeadBar.tsx
  frontend/src/components/annotationImageDisplay.tsx
  frontend/src/components/common/buttonsYesNo.tsx
  frontend/src/components/imageList.tsx
  frontend/src/components/masonry.tsx
  frontend/src/components/mediaGallery.tsx
Due: build_api_development, build_api_production, build_frontend_development, test_api, deploy_api, deploy_frontend

fix(api): fix init_db
  api/src/connectors/database.py
Due: build_api_development, build_api_production, test_api, deploy_api

style(api): applied black
  api/src/connectors/database.py
Due: build_api_development, build_api_production, test_api, deploy_api

build: add env var to production build
  frontend/Dockerfile
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/interfaces/window.ts
  frontend/src/keycloak.ts
  frontend/window_env.sh
Due: build_frontend_development, deploy_frontend

build(front): local dev w/ new env var management
  frontend/.gitignore
  frontend/package.json
Due: build_frontend_development, deploy_frontend

chore: remove unused build arg
  docker/docker-compose.yml
Due: none

chore: removed useless comment in Dockerfile
  frontend/Dockerfile
Due: build_frontend_development, deploy_frontend

chore: new line at the end of files
  frontend/.gitignore
  frontend/window_env.sh
Due: build_frontend_development, deploy_frontend

fix(api): fix init_db (#42)
  api/src/connectors/database.py
Due: build_api_development, build_api_production, test_api, deploy_api

Path conditions:
  build_api_development: any of: api/**/*
  build_api_production: any of: api/**/*
  build_frontend_development: any of: frontend/**/*
  test_api: any of: api/**/*
  deploy_api: any of: api/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*, .gitlab-ci.yml
